<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1af94dfb-9fb7-4d9c-9326-9c9f70ee53a0/resourceGroups/nao-se-cale-mulher-group/providers/Microsoft.Web/sites/naosecalemulher</ResourceId>
    <ResourceGroup>nao-se-cale-mulher-group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://naosecalemulher.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>716dd3ee-b3b4-47fa-82b9-b86971f70a04</ProjectGuid>
    <PublishUrl>https://naosecalemulher.scm.azurewebsites.net/</PublishUrl>
    <UserName>$naosecalemulher</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>